<link rel="stylesheet" href="/css/a65.css">

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">

        {{ .Scratch.Set "isHome" false }}

        <div class="entry-content">

          <html>
            <head>
              <style>
                  * {
                      margin: 0;
                      padding: 0;
                  }
                  .imgbox {
                      display: grid;
                      height: 100%;
                  }
                  .center-fit {
                      max-width: 100%;
                      max-height: 100vh;
                      margin: auto;
                  }
              </style>
          </head>
          <body>
          <div class="imgbox">
              <img class="center-fit" src='/frog.gif'>
          </div>
          </body>
          </html>
          
        </div>
      </article>
    </div>
  </div>
</div>