<link rel="stylesheet" href="/css/a65.css">

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">

        {{ .Scratch.Set "isHome" false }}

        <div class="entry-content">
          <html>
            <head>
              <style>
                  * {
                      margin: 0;
                      padding: 0;
                  }
                  .imgbox {
                      display: grid;
                      width: 200%;
                      height: 200%;
                  }
              </style>
          </head>
          <body>
          <div class="imgbox">
              <image src='/frog.gif' id="frog">
          </div>
          </body>
          </html>
          
        </div>
      </article>
    </div>
  </div>
</div>