<link rel="stylesheet" href="/css/a65.css">

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">

        {{ .Scratch.Set "isHome" false }}

        <div class="entry-content">

          <html>
          <head>
              <style>
                  * {
                      height: auto;
                      width: auto;
                      padding: 0;
                      margin: 0;
                  }
                  .fit { /* set relative picture size */
                      max-width: auto;
                      max-height: auto;
                  }
                  .center {
                      display: block;
                      margin: auto;
                  }
              </style>
          </head>
          <body>

          <img class="center fit" src="/frog.gif" >

          </body>
          </html>
          
        </div>
      </article>
    </div>
  </div>
</div>